* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;

    
}

:root {
    --bg-color: #000000;
    --primary-text-color: #ffffff;
    --secondary-text-color: rgb(195, 195, 195);
    --btn-primary-color: #444;
    --bg-primary-color: #222;
    --delete-bg-color: rgb(217, 58, 58);

    /* padding */
    --padding-sm: 5px;
    --padding-md: 10px;
    --padding-lg: 15px;
    --padding-xl: 20px;
    --padding-2xl: 25px;

    /* border-radius */
    --border-radius-sm: 5px;
    --border-radius-md: 10px;
    --border-radius-lg: 15px;
    --border-radius-xl: 20px;

    /* space */
    --space-sm: 5px;
    --space-md: 10px;
    --space-lg: 20px;
    --space-xl: 25px;
}

body {
    background: var(--bg-color);
    color: var(--primary-text-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: var(--padding-md) var(--padding-xl);
}

nav button {
    background: var(--btn-primary-color);
    padding: var(--padding-sm) var(--padding-lg);
    color: var(--primary-text-color);
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
}
nav button:active {
    scale: 0.95;
}

section {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    gap: var(--space-md);
    padding: var(--padding-lg);
}

.column {
    background: var(--btn-primary-color);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    padding: var(--padding-sm) var(--padding-md);
    border-radius: var(--border-radius-sm);
    transition: all 0.5s ease;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task {
    background: var(--bg-primary-color);
    padding: var(--padding-lg) var(--padding-xl);
    border-radius: var(--border-radius-sm);
    display: flex;
    flex-direction: column;
    cursor: grab;
}
.task h3{
    line-clamp: 1;
}
.task p {
    color: var(--secondary-text-color);
    line-clamp: 2;
}
.task button {
    align-self: flex-end;
    background: var(--delete-bg-color);
    padding: var(--padding-md) var(--padding-lg);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    font-weight: 600;
    border-radius: var(--border-radius-sm);
}

.column.hover-over {
    border: 1px dashed var(--primary-text-color);
    scale: 1.02;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal.active {
    display: flex;
}

.modal .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(74, 74, 74, 0.524);
    backdrop-filter: blur(5px);
}

.modal .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
    background: var(--bg-primary-color);
    padding: var(--padding-lg) var(--padding-xl);
    border-radius: var(--border-radius-sm);
    z-index: 10;
}

.modal .center input, .modal .center textarea {
    width: 250px;
    padding: var(--padding-md);
    outline: none;
    border-radius: var(--border-radius-sm);
    border: none;
    background: var(--btn-primary-color);
    color: var(--primary-text-color);
}
.modal .center textarea {
    height: 90px;
}

.modal .center button {
    width: 100%;
    padding: var(--padding-md) var(--padding-2xl);
    cursor: pointer;
    font-weight: 600;
    color: var(--primary-text-color);
    background: var(--bg-color);
    border-radius: var(--border-radius-sm);
    border: none;
    outline: none;
}
.modal .center button:active {
    scale:0.95
}